body {
  background: linear-gradient(135deg, #5031ff, #aba7f5);
}
.todo-container {
  font-family: cursive;
  .input-main {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;

    input {
      padding: 10px;
      border-radius: 6px;
      border: 1px solid #ccc;
      font-size: 14px;
      transition: all 0.3s ease-in;

      &:hover {
        transform: translateY(2px);
      }
    }
    .input-title {
      width: 150px;
    }
    .input-details {
      width: 250px;
    }
    .input-date {
      width: 150px;
    }
    button {
      background-color: #343078;
      color: white;
      border: none;
      border-radius: 6px;
      font-size: 20px;
      width: 40px;
      height: 40px;
      cursor: pointer;
      transition: 0.2s;

      &:hover {
        background-color: #4a5cff;
        transform: translateY(2px);
      }
    }
  }
  .todo-list ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
    padding: 0;
    gap: 20px;
    .task-card {
      background: #f5d4a7;
      width: 200px;
      display: flex;
      flex-direction: column;
      padding: 20px;
      border-radius: 10px;
      border: 1px solid #ddd;
      word-wrap: break-word;
      overflow-wrap: break-word;
      white-space: normal;
      transition: all 0.3s ease;
      box-shadow: 3px 3px 6px rgb(0, 0, 0);

      &:hover {
        transform: translateY(3px);
        box-shadow: 4px 4px 8px #f5d4a7;
      }
      h3 {
        margin: 0;
        font-size: 26px;
      }
      p {
        color: #51453c;
        margin: 0;
      }
      span {
        color: #51453c;
        margin-top: auto;
      }
    }
    .task-actions {
      display: flex;
      gap: 20px;
      margin-top: 10px;
      button {
        background-color: lavender;
        border: none;
        cursor: pointer;
      }
    }
  }
}
