.todo-container {
  .input-main {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;

    input {
      padding: 10px;
      border-radius: 6px;
      border: 1px solid #ccc;
      font-size: 14px;
    }
    .input-title {
      flex: 1;
      min-width: 150px;
    }
    .input-details {
      flex: 2;
      min-width: 200px;
    }
    .input-date {
      min-width: 150px;
    }
    button {
      background-color: greenyellow;
      border: none;
      border-radius: 6px;
      font-size: 20px;
      width: 40px;
      height: 40px;
      cursor: pointer;
      transition: 0.2s;

      &:hover {
        background-color: #a8ff4a;
        transform: translateY(2px);
      }
    }
  }
}
