.input-main {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 30px;

  .input-title {
    height: 40px;
    background-color: #b2ebff;
    border: none;
    color: #7b7b7b;
  }
  .input-details {
    width: 300px;
    height: 40px;
    background-color: #b2ebff;
    border: none;
    color: #7b7b7b;
  }
  button {
    color: black;
    background-color: greenyellow;
    font-size: 20px;
    cursor: pointer;
    border: none;
  }
  .input-main {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 30px;

    .input-title {
      height: 40px;
      background-color: #b2ebff;
      border: none;
      color: #7b7b7b;
    }
    .input-details {
      width: 300px;
      height: 40px;
      background-color: #b2ebff;
      border: none;
      color: #7b7b7b;
    }
    button {
      color: black;
      background-color: greenyellow;
      font-size: 20px;
      width: 40px;
      height: 40px;
      cursor: pointer;
      border: none;
    }
  }

  @media (max-width: 590px) {
    flex-direction: column;
    button {
      width: 20px;
      height: 20px;
      font-size: 10px;
    }
    // .input-details,
    // .input-title {
    //   width: 200px;
    // }
  }
}
